body{
    background-color:#0c111c;
    font-family: monospace;
    color:#ebeef4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}
h1{
    font-size: 2.5rem;
}

#btnStart,#btnReset,#btnPause{
    color: black;
    font-size: 1.125rem;
    margin:0 10px 40px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    
}
button:hover{
    color: rgb(252, 250, 250);
    background-color: rgb(66, 65, 65);

}

.timer{
    font-size: 3.75rem;
    margin-bottom: 40px;
}

#btnSession,#btnBreak{
    color:black;
    font-size: 1.125rem;
    margin:0 10px 40px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
}
p{
    font-size: 1rem;
    color: #3164DB;
}
p.pomodoroCount{
    color:#ebeef4;
    font-size: 1rem;

}



/*text:#ebeef4, #0c111c background, #9EB1DE primary,#203B7C secundary,#3164DB accent*/